---
layout: default
title: 活動列表
permalink: forthcomingevents.html
---
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% include nav.html %}

    <script>
      document.getElementById("events").classList.add("active")
    </script>

    <main class="page" style="background-color:rgb(246,246,246);">
        <div class="container clean-block clean-post dark" style="padding-top:26px;margin-bottom:-3px;">
            <div class="row" data-sticky_parent="" style="position: relative;">
                <div class="col" style="position:relative;height:auto;">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link" href="events.html" style="height:49px;margin-top:3px;color:rgb(73,80,87);">近期活動</a></li>
                        <li class="nav-item"><a class="nav-link active" href="forthcomingevents.html" style="color:rgb(73,80,87);height:52px;">活動列表<div class="d-inline"><span class="badge badge-primary badge-article-number">5</span></div></a></li>
                        <li class="nav-item"><a class="nav-link" href="jobs.html" style="height:49px;color:rgb(73,80,87);">徵才<span class="badge badge-primary badge-article-number">0</span></a></li>
                    </ul>
                    <div class="posts-box2 u-padding-b-0" style="height:auto;margin-bottom:-29px;padding-bottom:9px;background-color:white;">
                        <div class="row" style="margin-left:1%;margin-bottom:0px;margin-right:1%;">
                            <div class="col-12 col-sm-auto col-md-auto mx-auto" style="width:100%;margin-left:10px;margin-top:26px;min-width:none;padding-bottom:12px;padding-right:0px;min-height:none;">
                                <div role="tablist" id="accordion-1" style="/*width:auto;*//*max-width:auto;*/margin-left:10px;">

{% for item in site.events %}
  {% capture _ %}{% increment _myCount %}{% endcapture %}
  {% assign itemNumber = _myCount | plus: 1 %}
  <!--{% assign itemNumber = _myCount | plus:1 %}-->
      <div class="card">
          <div class="card-header" role="tab" style="padding-bottom:0;min-height:109px;">
              <h5 class="mb-0" style="height:128px;margin-top:-20px;">
                <a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1 .item-{{ itemNumber }}" href="div#accordion-1 .item-{{ itemNumber }}"><br>
                  <div>
                    <div class="d-table-cell">
                      <p style="width:54px;height:26px;font-size:14px;margin-top:11px;/*.event_month {&nbsp; padding:0.1em;*/margin-bottom:0.15em;background:#C00000;font-size:0.75em;color:white;border-top-left-radius:0.3em;border-top-right-radius:0.3em;text-align:center;">{{ item.month }}</p>
                      <p style="width:54px;margin-bottom:0px;border:1px solid #999;background:white;color:black;font-size:1.25em;font-weight:bold;border-bottom-left-radius:0.1em;border-bottom-right-radius:0.1em;text-align:center;">
                        {{ item.day }}</p>

                    </div>
                    <div class="d-table-cell" style="padding-bottom:0px;">
                      <h4 style="padding-left:15px;"><strong>{{ item.title }}</strong></h4>
                    </div>
                    <div class="d-none d-md-table-cell" style="padding-left:16px;height:101px;">
                      <p class="d-table-row" style="height:0;font-size:18px;"><i class="fa fa-map-marker" style="margin-right:1em;"></i>{{ item.location }}</p><p class="d-table-row" style="height:0;font-size:18px;"><i class="fa fa-clock-o" style="margin-right:0.8em;"></i>{{ item.time }}</p>
                    </div>
                  </div>
                </a>
              </h5>
            </div>
        {% if itemNumber <= 2 %}


            <div class="collapse show item-{{ itemNumber }}" role="tabpanel" data-parent="#accordion-1">
        {% else %}
            <div class="collapse item-{{ itemNumber }}" role="tabpanel" data-parent="#accordion-1">
        {% endif %}
                <div class="card-body">
                    <p class="card-text">{{ item.description }}<a href="{{ item.url | relative_url }}">...點我看詳細內容</a>
                    </p>
                    <div class="d-md-none" style="padding-left:16px;height:101px;">
                        <p class="d-table-row" style="height:0;font-size:18px;"><i class="fa fa-map-marker" style="margin-right:1em;"></i>{{ item.location }}</p>
                        <p class="d-table-row" style="height:0;font-size:18px;"><i class="fa fa-clock-o" style="margin-right:0.8em;"></i>{{ item.time }}</p>
                        <p class="d-table-row" style="font-size:18px;"><i class="fa fa-check-square-o" style="margin-right:0.8em;"></i>線上報名</p>
                      </div>
                  </div>
              </div>
          </div>
{% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-sm-none d-md-none d-lg-block">

                  {% include eventsidebar.html %}

<!-- 訂閱電子報（先註解）
                        <div class="widget widget--title-box newsletter-two">
                            <div class="widget__title">
                                <h4>訂閱電子報</h4>
                            </div>
                            <div class="newsletter-box">
                                <form action="#"><input class="form-control" type="email" placeholder="Email address"><button class="btn btn-primary" type="button"><i class="fa fa-paper-plane"></i></button></form>
                            </div>
                        </div>
-->
                    </div>
                </div>
            </div>
        </div>

            <!--       facebook message us plugin             -->
                    <!-- Your customer chat code -->
                    <div class="fb-customerchat" attribution=setup_tool page_id="591557164528575" theme_color="#172430" logged_in_greeting="您好！歡迎您與我們聯繫＝）" logged_out_greeting="您好！歡迎您與我們聯繫＝）">
                    </div>
    </main>
<!--
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/footer_updating.js"></script>
    <script src="assets/js/mapmodal.js"></script>
</body>

</html>
-->
