---
layout: default
title: 社科院
permalink: index.html
---
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% include nav.html %}

    <script>
      document.getElementById("index").classList.add("active")
    </script>
    <main class="page landing-page">
        <section class="clean-block about-us" style="margin-top:50px;min-height:680px;">
            <div class="container">
                <div class="row">
                    <div class="col">
                      {% assign firstpage = site.posts.first %}
                        <a href="{{ firstpage.url }}">
                            <article>
                                <div class="post-item">
                                    <figure class="figure"><img class="img-fluid figure-img" src="{{ firstpage.thumbnail }}"></figure>
                                    <div class="post-content">
                                        <div class="post-meta"></div>
                                        <h5 style="margin-top:11px;margin-bottom:4px;"><span style="padding-left:3px;">{{ firstpage.date | date: "%Y-%m-%d" }}</span><span style="padding-left:3px;"><strong>{{ firstpage.subtitle }}</strong></span></h5>
                                        <p class="post-excerpt">{{ firstpage.description }}</p>
                                    </div>
                                </div>
                            </article>
                        </a>
                    </div>

                    <!--海報走馬燈-->
                    <div class="col-lg-4">
                        <div class="carousel slide" data-ride="carousel" id="carousel-1" style="min-height:500px;">
                            <div class="carousel-inner" role="listbox">
                              {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
                              {% assign nowunix = nowunix | plus: 0 %}

                              {% for itemPoster in site.posters %}

                                {% capture posttime %}{{itemPoster.date | date: '%s'}}{% endcapture %}
                                {% assign posttime = posttime | plus: 0 %}

                                {% if posttime >= nowunix %}


                                  {% capture _ %}{% increment _myCount2 %}{% endcapture %}
                                  {% assign itemNumber = _myCount2 | plus: 1 %}
                                  {% if itemNumber <= 2 %}

                                    <div class="carousel-item active">
                                      <a href="{{ itemPoster.eventurl }}">
                                      <img class="w-100 d-block" src="{{ itemPoster.imagesrc }}" alt="Slide Image" height="100%"></a>
                                    </div>

                                  {% else %}

                                  <div class="carousel-item">
                                    <a href="{{ itemPoster.eventurl }}">
                                    <img class="w-100 d-block" src="{{ itemPoster.imagesrc }}" alt="Slide Image" height="100%"></a>
                                  </div>

                                  {% endif %}

                              {% endif %}
                              {% endfor %}
                            </div>
                            <div>
                              <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#carousel-1"
                                    role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span>
                              </a>
                            </div>
                            <ol class="carousel-indicators">
                              {% for i in (2..itemNumber) %}
                                {% if i <= 2 %}

                                  <li data-target="#carousel-1" data-slide-to="{{ i }}" class="active"></li>
                                {% else %}
                                  <li data-target="#carousel-1" data-slide-to="{{ i }}"></li>
                                {% endif %}
                              {% endfor%}
                            </ol>
                        </div>
                    </div>

                    <!--近期活動-->
                    <div class="col">
                        <div role="tablist" id="accordion-1" style="overflow-y:scroll;margin-left:10px;max-height:500px;">
                          {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
                          {% assign nowunix = nowunix | plus: 0 %}

                          {% for item in site.events %}

                          {% capture posttime %}{{item.date | date: '%s'}}{% endcapture %}
                          {% assign posttime = posttime | plus: 0 %}

                          {% if posttime >= nowunix %}

                            {% capture _ %}{% increment _myCount3 %}{% endcapture %}
                            {% assign itemNumber = _myCount3 | plus: 1 %}
                            <div class="card">
                                <div class="card-header" role="tab" style="padding-bottom:0;min-height:109px;">
                                    <h5 class="mb-0" style="height:128px;margin-top:-20px;"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-{{ itemNumber }}" href="div#accordion-1 .item-{{ itemNumber }}"><br><div><div class="d-table-cell"><p style="width:54px;height:26px;font-size:14px;margin-top:11px;/*.event_month {&nbsp; padding:0.1em;*/margin-bottom:0.15em;background:#C00000;font-size:0.75em;color:white;border-top-left-radius:0.3em;border-top-right-radius:0.3em;text-align:center;">{{ item.month }}</p>
                                      <p style="width:54px;margin-bottom:0px;border:1px solid #999;background:white;color:black;font-size:1.25em;font-weight:bold;border-bottom-left-radius:0.1em;border-bottom-right-radius:0.1em;text-align:center;">{{ item.day }}</p></div><div class="d-table-cell" style="padding-bottom:0px;"><h4 style="padding-left:15px;"><strong>{{ item.title }}</strong></h4><p style="height:0;font-size:18px;padding-left:15px;"><i class="fa fa-clock-o" style="margin-right:0.8em;"></i>{{ item.time }}</p></div></div></a></h5>
                                </div>

                                <div class="collapse item-{{ itemNumber }}" role="tabpanel" data-parent="#accordion-1">
                                    <div class="card-body">
                                        <p class="card-text">{{ item.description }}<a href="{{ item.url }}">...點我看詳細內容</a></p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>


            <!--       facebook message us plugin             -->
                    <!-- Your customer chat code -->
                    <div class="fb-customerchat" attribution=setup_tool page_id="591557164528575" theme_color="#172430" logged_in_greeting="您好！歡迎您與我們聯繫＝）" logged_out_greeting="您好！歡迎您與我們聯繫＝）">
                    </div>
    </main>
