---
layout: default
title: 相關機構
permalink: institutes.html
---
{% include nav.html %}

    <script>
      document.getElementById("institutes").classList.add("active")
    </script>

    <main class="page">
        <section class="clean-block about-us">
            <div class="container" style="margin-top:25px;">
                <div class="row justify-content-center">

                  {% for itemInstitution in site.institutions %}
                  <div class="col-sm-6 col-lg-4" style="padding-bottom: 20px;">
                      <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="{{ itemInstitution.imagesrc }}">
                          <div class="card-body info">
                              <h4 class="card-title">{{ itemInstitution.name }}</h4>
                              <p class="card-text">{{ itemInstitution.description }}</p>
                              <div class="icons">
                                {% if itemInstitution.facebookurl %}
                                  <a href="{{- itemInstitution.facebookurl -}}" target="_blank"><i class="icon-social-facebook"></i></a>
                                {% endif %}
                                {% if itemInstitution.officialurl  %}
                                  <a href="{{- itemInstitution.officialurl -}}" target="_blank"><i class="icon-globe"></i></a>
                                {% endif %}
                                {% if itemInstitution.email %}
                                  <a href="mailto:{{- itemInstitution.email -}}"><i class="icon-envelope"></i></a>
                                {% endif %}
                              </div>
                          </div>
                      </div>
                  </div>
                  {% endfor %}

                </div>
            </div>
        </section>
    </main>
