---
layout: default
title: 相關機構
permalink: institutes.html
---
{% include nav.html %}

    <script>
      document.getElementById("institutes").classList.add("active")
    </script>

    <main class="page">
        <section class="clean-block about-us">
            <div class="container" style="margin-top:25px;">
                <div class="row justify-content-center">

                  {% for itemInstitution in site.institutions %}
                  <div class="col-sm-6 col-lg-4">
                      <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="{{ itemInstitution.imagesrc }}">
                          <div class="card-body info">
                              <h4 class="card-title">{{ itemInstitution.name }}</h4>
                              <p class="card-text">{{ itemInstitution.description }}</p>
                              <div class="icons"><a href="{{- itemInstitution.facebookurl -}}"><i class="icon-social-facebook"></i></a><a href="{{- itemInstitution.officialurl -}}"><i class="icon-globe"></i></a><a href="mailto:{{- itemInstitution.email -}}"><i class="icon-envelope"></i></a></div>
                          </div>
                      </div>
                  </div>
                  {% endfor %}

                </div>
            </div>
        </section>
    </main>
