---
layout: default
title: 活動列表
permalink: jobs.html
---
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% include nav.html %}

    <script>
      document.getElementById("events").classList.add("active")
    </script>

    <main class="page" style="background-color:rgb(246,246,246);">
        <div class="container clean-block clean-post dark" style="padding-top:26px;margin-bottom:-3px;">
            <div class="row" data-sticky_parent="" style="position: relative;">
                <div class="col" style="position:relative;height:auto;">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link" href="events.html" style="height:49px;margin-top:3px;color:rgb(73,80,87);">近期活動</a></li>
                        <li class="nav-item"><a class="nav-link" href="forthcomingevents.html" style="color:rgb(73,80,87);height:52px;">活動列表<div class="d-inline"><span class="badge badge-primary badge-article-number">5</span></div></a></li>
                        <li class="nav-item"><a class="nav-link active" href="jobs.html" style="height:52px;color:rgb(73,80,87);">徵才<span class="badge badge-primary badge-article-number">0</span></a></li>
                    </ul>
                    <div class="posts-box2 u-padding-b-0" style="height:auto;margin-bottom:-29px;padding-bottom:9px;background-color:white;min-height:480px;/*width:825px;*/">
                        <div role="tablist" id="accordion-1" class="icon-distance" style="margin:0px 23px;padding:23px;">
                          {% for item in site.jobs %}
                            {% capture _ %}{% increment _myCountjob %}{% endcapture %}
                            {% assign itemNumber = _myCountjob | plus: 1 %}
                            <div class="card">
                                <div class="card-header" role="tab">
            <h5 class="mb-0">
              <a data-toggle="collapse" aria-expanded="true" aria-controls="accordion-1 .item-{{ itemNumber }}" href="div#accordion-1 .item-{{ itemNumber }}">
                  <h4>{{ item.jobtitle }}</h4>
                  <h6 class="text-muted mb-2"><i class="fa fa-map-marker" style="padding:3px;"></i>{{ item.address }}</h6>
              </a>
            </h5>
                                </div>
                                {% if itemNumber <= 2 %}

                                <div class="collapse show item-{{ itemNumber }}" role="tabpanel" data-parent="#accordion-1">

                                {% else %}

                                <div class="collapse item-{{ itemNumber }}" role="tabpanel" data-parent="#accordion-1">

                                {% endif %}
                                    <div class="card-body">
                                        <p class="card-text" style="margin:0px 0px 10px;"><i class="fa fa-dollar"></i>工作待遇：<br>{{ item.salary }}<br></p>
                                        <p class="card-text" style="margin:0;"><i class="fa fa-bars"></i>工作內容：<br>{{ item.jobcontent}}<br></p><a href="{{ item.url | relative_url }}">詳細內容</a></div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-sm-none d-md-none d-lg-block">
                  {% include eventsidebar.html %}
                </div>
            </div>
        </div>
    </main>
