
                       <!--article social plugin container-->
                        <div class="article-so">
                            <div id="fb-like" class="fb-like" data-href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                            <div  id="fb-save" class="fb-save" data-uri="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-size="small"></div>
                        </div>
