<ul class="nav nav-tabs">
    <li class="nav-item"><a id="newevent" class="nav-link" href="{{'/events.html'| relative_url }}" style="height:49px;margin-top:3px;color:rgb(73,80,87);">近期活動</a></li>
    <li class="nav-item"><a id="eventlist" class="nav-link" href="{{'/forthcomingevents.html'| relative_url }}" style="color:rgb(73,80,87);height:52px;">活動列表<div class="d-inline"><span class="badge badge-primary badge-article-number">{{ site.events | size }}</span></div></a></li>
    <li class="nav-item"><a id="joblist" class="nav-link" href="{{'/jobs.html'| relative_url }}" style="height:49px;color:rgb(73,80,87);">徵才<span class="badge badge-primary badge-article-number">{{ site.jobs | size }}</span></a></li>
</ul>
