<div class="modal fade" role="dialog"
    tabindex="-1" id="event1-location">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header align-items-center" style="height:35px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body embed-responsive embed-responsive-16by9" style="padding:0px;">
                <iframe class="embed-responsive-item" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=121.36896956129932%2C24.942811134455884%2C121.37122261687183%2C24.944574348764405&amp;layer=mapnik&amp;marker=24.943692744764835%2C121.37009608908556" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=24.94369&amp;mlon=121.37010#map=19/24.94369/121.37010&amp;layers=NG">放大地圖</a></small>
            </div>
        </div>
    </div>
</div>
