<nav class="navbar navbar-light navbar-expand-md navigation-clean" style="box-shadow: 0px 0px 8px 1px #929292">
    <div class="container">
      <!--
      <a class="navbar-brand" href="index.html" style="font-size:16px;"><span>{{ site.institution }}<br>{{ site.project }}</span>
      </a>
    -->
      <a href="{{ '/index.html'  | site.url }}" class="navbar-brand d-flex flex-shrink-1 flex-wrap" style="font-size:18px;">
        <span style="margin-right:8px;">
          <strong>{{ site.institution }}</strong>
        </span>
        <span>
          <strong>{{ site.project }}</strong>
        </span>
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-2">
        <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
            class="collapse navbar-collapse" id="navcol-2">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a id="index" class="nav-link" href="{{ '/index.html'  | relative_url }}">首頁</a></li>
                <li class="nav-item" role="presentation"><a id="news"  class="nav-link" href="{{'/news.html'| relative_url }}">精彩花絮</a></li>
                <li class="nav-item" role="presentation"><a id="events"  class="nav-link" href="{{'/events.html'| relative_url }}">活動/召募</a></li>
                <li class="nav-item" role="presentation"><a id="institutes" class="nav-link" href="{{'institutes.html'| relative_url }}">相關機構</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="https://www.facebook.com/usrsocntpu/" target="_blank" style="font-size:24px;height:40px;margin-top:-6px;"><i class="icon ion-social-facebook"></i></a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="mailto:usrsocntpu@gm.ntpu.edu.tw" style="font-size:24px;height:40px;margin-top:-6px;"><i class="icon ion-ios-email-outline"></i></a></li>
            </ul>
    </div>
    </div>
</nav>
