<div class="side-bar__inner">

    <div class="widget widget--title-box img-banner" style="padding-bottom:0px;margin-top:0px;margin-bottom:24px;">


    </div>

    <div class="widget widget--title-box" style="margin:0px;padding:0px 20px;">               <div class="widget__title">
            <h4>追蹤我們</h4>
        </div>
    </div>
    <div class="fb-page" data-href="https://www.facebook.com/NTPUSOCUSR/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/NTPUSOCUSR/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/NTPUSOCUSR/">國立臺北大學社科院在地實踐計劃</a></blockquote>
    </div>

    {% include tagcloud.html %}

</div>
