<div class="widget widget--title-box newsletter-two">
       <div class="widget__title" style="margin:0px -20px 12px;">
           <h4>主題標籤</h4>
       </div>
       {% capture temptags %}
         {% for tag in site.tags %}
           {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
         {% endfor %}
       {% endcapture %}
       {% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
       {% for temptag in sortedtemptags %}
         {% assign tagitems = temptag | split: '#' %}
         {% capture tagname %}{{ tagitems[1] }}{% endcapture %}

         <a href="{{ site.baseurl }}/tag/{{ tagname }}"><button class="btn btn-primary btn-small btn-tagCloud" type="button" style="padding: 2px; margin-bottom: 5px">{{ tagname }}
         </button></a>
       {% endfor %}
   </div>
