---
layout: default
---
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% include nav.html %}

    <main class="page icon-distance" style="background-color:rgb(246,246,246);">
        <div class="container clean-block clean-post dark" style="padding-top:26px;margin-bottom:-3px;">
            <div class="row">
                <div class="col" style="position:relative;height:auto;">
                    {% include eventlistingtab.html %}

                    <div class="posts-box2 u-padding-b-0" style="height:auto;margin:0px;margin-bottom:-29px;padding:24px;padding-bottom:9px;background-color:white;margin-left:0px;padding-top:25px;padding-left:45px;">
                      {% include socialplugin.html %}
                      <script>
                        document.getElementById("fbshare").setAttribute('href', "https://www.facebook.com/sharer/sharer.php?u={{ site.url | replace: '://','%3A%2F%2F' }}{{ site.baseurl }}{{ page.url  | replace: '/','%2F'  v }}&amp;src=sdkpreparse")
                        document.getElementById("fbshare2").setAttribute('href', "https://www.facebook.com/sharer/sharer.php?u={{ site.url  | replace: '://','%3A%2F%2F' }}{{ site.baseurl }}{{ page.url  | replace: '/','%2F'  }}&&amp;src=sdkpreparse")
                      </script>

                        <h1><strong>{{ page.jobtitle }}</strong></h1>
                        <h6 class="text-muted mb-2" style="padding-bottom:15px;"><i class="fa fa-map-marker" style="padding:3px;"></i>{{ page.address }}</h6>
                        <p class="card-text" style="margin:0px 0px 10px;padding-bottom:10px;"><i class="fa fa-dollar"></i>工作待遇：<br>{{ page.salary }}<br></p>
                        <p class="card-text" style="margin:0px 0px 10px;padding-bottom:10px;"><i class="fa fa-bars"></i>工作內容：<br>{{ page.jobcontent }}<br></p>
                        <p class="card-text" style="margin:0px 0px 10px;padding-bottom:10px;"><i class="fa fa-bars"></i>工作期程：<br>{{ page.period }}<br></p>
                        <p class="card-text" style="margin:0px 0px 10px;padding-bottom:10px;"><i class="fa fa-bars"></i>申請資格：<br>{{ page.qualifications }}<br></p>
                        <p
                            class="card-text" style="margin:0px 0px 10px;padding-bottom:10px;"><i class="fa fa-bars"></i>申請資料：<br>{{ page.document }}<br></p>
                            <p class="card-text" style="margin:0px 0px 10px;padding-bottom:10px;"><i class="fa fa-bars"></i>申請方式：<br>{{ page.method }}<br></p>
                            <p class="card-text" style="margin:0px 0px 10px;padding-bottom:10px;"><i class="fa fa-bars"></i>{{ page.other }}<br></p>
                            <p class="card-text" style="margin:0px 0px 10px;padding-bottom:10px;"><i class="fa fa-bars"></i>收件截止：<br>{{ page.deadline }}<br></p>
                            <p class="card-text" style="margin:0px 0px 10px;padding-bottom:10px;">聯絡人：{{ page.contact }}<br></p>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-sm-none d-md-none d-lg-block">
                  {% include eventsidebar.html %}
                </div>
            </div>
        </div>
    </main>
