---
layout: default
title: 精彩回顧
---

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/zh_TW/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% include nav.html %}

    <script>
      document.getElementById("news").classList.add("active")
    </script>

    <main class="page" style="background-color:rgb(246,246,246);">
        <div class="container clean-block clean-post dark" style="padding-top:26px;">
            <div class="row" data-sticky_parent="" style="position: relative;">
                <div class="col-lg-8 col-xl-9 content-wrapper" style="position:relative;background-color:transparent;">
                    <ul class="nav nav-tabs" style="margin-left:0px;">
                        <li class="nav-item"><a class="nav-link" href="{{'/news.html'| relative_url }}" style="height:53px;margin-top:3px;color:rgb(73,80,87);">近期消息</a></li>
                        <li class="nav-item"><a class="nav-link " href="{{ '/newsarchive/index.html'| relative_url }}" style="color:rgb(73,80,87);height:53px;margin-top:3px;">精彩回顧</a></li>
                    </ul>
                    <div data-sticky_column="" style="background-color:white;">
                        <div class="posts-box2 u-padding-b-0">
                            <div class="posts-box2__top">
                                <h3><span>主題標籤: {{ page.tag }}</span></h3>
                            </div>
                        </div>
                        <div class="posts-box2 u-padding-b-0">


  <!-- This loops through the paginated posts -->
  <ul class="list-group" style="margin:15px 0px 13px;padding:0px 25px;">
      {% for post in site.tags[page.tag] %}

      <li class="list-group-item"><span style="color:#212529; margin-right: 5px;">{{ post.date | date: "%Y-%m-%d" }}</span><a href="{{ post.url | relative_url }}">
        <strong>
          {% if post.subtitle  %}
            {{ post.subtitle }}
          {% else %}
            {{ post.title }}
          {% endif %}
        </strong></a></li>
      {% endfor %}
  </ul>

</div>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 side-bar sidebar--right u-md-down-margin-t-40 d-none d-lg-block">
                  {% include basicsidebar.html %}
                  {% include tagscloud.html %}
                </div>
            </div>
        </div>
            <!--       facebook message us plugin             -->
                    <!-- Your customer chat code -->
                    <div class="fb-customerchat" attribution=setup_tool page_id="591557164528575" theme_color="#172430" logged_in_greeting="您好！歡迎您與我們聯繫＝）" logged_out_greeting="您好！歡迎您與我們聯繫＝）">
                    </div>
    </main>
